

<%- include('_header') -%>
    <h1>Tokenizer</h1>
    <ul>
        <li>
            <a href="/tokenize">Tokenize</a>
        </li>
        <li>
            <a href="/detokenize">Detokenize</a>
        </li>
    </ul>
    <% if (data && data == "home") { %>
        <h2><%= data %></h2>
    <% } %>
    <% if (data && data == "tokenize") { %>
        <h2><%= data %></h2>
    <% } %>
    <% if (data && data == "detokenize") { %>
        <h2><%= data %></h2>
    <% } %>

<%- include('_footer') -%>